
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #e2e9eb;
  --secondary-color: #024e76;
  --tertiary-color: #116e79;
}

body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

header {
  padding: 20px 35px;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}


header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  
}



header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

footer{
  background: var(--tertiary-color);
  color: var(--primary-color);
} 

.hero{
    background-image: url("../images/web\ dev.jpeg");
    background-size: cover;
    background-position: center;
    height: 300px;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.about-me-info, .work-wraper, .contact-wraper{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.about-me-info h3, .work-wraper h3, .contact-wraper h3{
  width: 10%;
  padding: 10px;

}
.about-me-info div, .work-wraper .child-item, .contact-wraper div{
  max-width: 65%;
  padding: 10px;
  border-left: 4px solid black;
}


.child-item div{
  background-image: url(../images/MERN.jpeg);
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 400px;
  margin: 15px;

}

.child-item{
  display: flex;
  flex-wrap: wrap;
}

#main{
  width: 100%;
  height: 500px;
}

.contact-info, ul, li{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;

}

.contact-wraper h3{
  padding: 25px;
}




@media screen and (max-width:880px) {

  .about-me-info, .work-wraper{
    flex-direction: column;
  
  
  }
  .about-me-info div, .work-wraper .child-item{
    border-left: none;
    border-top: 4px solid black;
  }
  
}